In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('database.sqlite')

# Parte 1
Se pueden observar las siguientes tablas en la base de dato:
- Country
- League
- Match
- Player
- Player_Attributes
- Team
- Team_Attributes


Para la primera parte se pide unir las tablas Country, League y Team con la tabla Match.

In [104]:
query = """SELECT m.id, m.country_id, c.name as CountryName, m.league_id, l.name as LeagueName ,m.season, m.stage, m.date, m.match_api_id, m.home_team_api_id, ht.team_long_name as home_team_LongName, ht.team_short_name as home_team_Short_name, m.away_team_api_id, at.team_long_name as away_team_LongName, at.team_short_name as away_team_Short_name, m.home_team_goal, m.away_team_goal, m.home_player_X1, m.home_player_X2, m.home_player_X3, m.home_player_X4, m.home_player_X5, m.home_player_X6, m.home_player_X7, m.home_player_X8, m.home_player_X9, m.home_player_X10, m.home_player_X11, m.away_player_X1, m.away_player_X2, m.away_player_X3, m.away_player_X4, m.away_player_X5, m.away_player_X6, m.away_player_X7, m.away_player_X8, m.away_player_X9, m.away_player_X10, m.away_player_X11, m.home_player_Y1, m.home_player_Y2, m.home_player_Y3, m.home_player_Y4, m.home_player_Y5, m.home_player_Y6, m.home_player_Y7, m.home_player_Y8, m.home_player_Y9, m.home_player_Y10, m.home_player_Y11, m.away_player_Y1, m.away_player_Y2, m.away_player_Y3, m.away_player_Y4, m.away_player_Y5, m.away_player_Y6, m.away_player_Y7, m.away_player_Y8, m.away_player_Y9, m.away_player_Y10, m.away_player_Y11, m.home_player_1, m.home_player_2, m.home_player_3, m.home_player_4, m.home_player_5, m.home_player_6, m.home_player_7, m.home_player_8, m.home_player_9, m.home_player_10, m.home_player_11, m.away_player_1, m.away_player_2, m.away_player_3, m.away_player_4, m.away_player_5, m.away_player_6, m.away_player_7, m.away_player_8, m.away_player_9, m.away_player_10, m.away_player_11, m.goal, m.shoton, m.shotoff, m.foulcommit, m.card, m.`cross`, m.corner, m.possession, m.B365H, m.B365D, m.B365A, m.BWH, m.BWD, m.BWA, m.IWH, m.IWD, m.IWA, m.LBH, m.LBD, m.LBA, m.PSH, m.PSD, m.PSA, m.WHH, m.WHD, m.WHA, m.SJH, m.SJD, m.SJA, m.VCH, m.VCD, m.VCA, m.GBH, m.GBD, m.GBA, m.BSH, m.BSD, m.BSA
FROM Match m
LEFT JOIN League l ON m.league_id = l.id
LEFT JOIN Country c ON m.country_id = c.id
LEFT JOIN Team ht ON m.home_team_api_id = ht.team_api_id
LEFT JOIN Team at ON m.away_team_api_id = at.team_api_id"""

In [122]:
df_match = pd.read_sql_query(query, con)
#df_match.to_excel("Tabla_equipo_detallada.xlsx")

# Parte 2 

Para hacer un estudio más profundo, podría ver los historicos de match, para ver que equipos son los que ganan y poder copiar sus estadisticas, ejemplo los que reciben menos goles, que estadisticas tienen sus defensas y arquero. Y los que meten más goles, copiar las estadisticas de su ofensiva, y los que tienen mejor posesion de la pelota, para copiar las estadisticas de sus jugadores de medio campo.

Pero pára esta parte usaré las tablas:
- Player.
- Player_Attributes.
Ya que me darán las estadisticas de cada jugador. Haré un merge de los jugadores con sus atributos.

In [6]:
query = """SELECT pa.id, p.player_api_id, p.player_name, p.player_fifa_api_id, p.birthday, p.height, p.weight, pa.player_fifa_api_id, pa.player_api_id, pa.date, pa.overall_rating, pa.potential, pa.preferred_foot, pa.attacking_work_rate, pa.defensive_work_rate, pa.crossing, pa.finishing, pa.heading_accuracy, pa.short_passing, pa.volleys, pa.dribbling, pa.curve, pa.free_kick_accuracy, pa.long_passing, pa.ball_control, pa.acceleration, pa.sprint_speed, pa.agility, pa.reactions, pa.balance, pa.shot_power, pa.jumping, pa.stamina, pa.strength, pa.long_shots, pa.aggression, pa.interceptions, pa.positioning, pa.vision, pa.penalties, pa.marking, pa.standing_tackle, pa.sliding_tackle, pa.gk_diving, pa.gk_handling, pa.gk_kicking, pa.gk_positioning, pa.gk_reflexes
FROM Player_Attributes pa
LEFT JOIN Player p ON pa.player_fifa_api_id = p.player_fifa_api_id"""

In [7]:
df_players = pd.read_sql_query(query, con)
#df_players.to_excel("Tabla_jugadores_detallada.xlsx")

En la selección de jugadores, no se habla de una selección de un año en especial, por lo que puedo decir me gustaría tener al Alexis del 2015 o con el Vidal del 2017. En verdad está abierto a eso.

Para la selección de un arquero, se veran las estadisticas de GK, y además algunas estadisticas de Pases cortos,  pases largos y Shot Power. Aquí se puede elegir el promedio de esas estadisticas o le media geometrica (que castigaría aquellas estadisticas que sean más bajas). Esa decisión se puede tomar con mayor profundidad, pero para este caso solo tomaré el promedio.

In [28]:
df_arquero = df_players[['short_passing','long_passing','shot_power','gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning','gk_reflexes']]
df_players.iloc[ df_arquero.mean(axis=1).idxmax() ][["player_fifa_api_id","player_name"]]

player_fifa_api_id        48717.0
player_fifa_api_id          48717
player_name           Julio Cesar
Name: 92070, dtype: object

Cómo mejor arquero sale que es Julio Cesar, un jugador de Brasi. 
https://www.fifaindex.com/es/player/48717

Para el resto de los jugadores, puedo elegir las estadisticas que no pertenecen al portero.

In [30]:
df_resto_jugadores = df_players[['overall_rating', 'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle','sliding_tackle']]

In [44]:
df_resto_jugadores["promedio"] = df_resto_jugadores.mean(axis=1)
i = 0
while True:
    i += 1
    if df_players.iloc[ df_resto_jugadores["promedio"].nlargest(i).index ][["player_fifa_api_id","player_name"]]["player_name"].nunique() >= 10:
        break
df_players.iloc[ df_resto_jugadores["promedio"].nlargest(i).index ][["player_fifa_api_id","player_name"]]["player_name"].unique()

C:\Users\diego\AppData\Local\Temp/ipykernel_28264/1319895213.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_resto_jugadores["promedio"] = df_resto_jugadores.mean(axis=1)
C:\Users\diego\AppData\Local\Temp/ipykernel_28264/1319895213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resto_jugadores["promedio"] = df_resto_jugadores.mean(axis=1)

array(['Steven Gerrard', 'Pavel Nedved', 'Frank Lampard', 'Maicon',
       'Michael Essien', 'Daniele De Rossi', 'Daniel Alves',
       'Wayne Rooney', 'Michael Ballack', 'Cesc Fabregas'], dtype=object)

Por lo que mi equipo ideal serí Steven Gerrard, Pavel Nedved, Frank Lampard, Maicon,Michael Essien, Daniele De Rossi, Daniel Alves,Wayne Rooney, Michael Ballack, Cesc Fabregas y Julio Cesar

# Parte 3

Se sugiere usar la posición favorita de cada jugador que se puede obtener en https://www.fifaindex.com

Se puede obtener con el siguiente script, creamos una tabla de player_value, accedimos al id_api_fifa entregado por la tabla player,

In [ ]:
import requests
import bs4 as bs
import sqlite3

con = sqlite3.connect('database.sqlite')

cur = con.cursor()

cur.execute("""CREATE TABLE IF NOT EXISTS player_value (
                ID varchar(15) NOT NULL,
                POSITION varchar(255),
                VALUE int,
                WAGE int
            );""")

def status_extraccion():
    generator_player_ID = cur.execute("SELECT player_fifa_api_id FROM Player;")
    list_player_ID = [str(id[0]) for id in generator_player_ID]
    print("Hay {} jugadores en total".format(len(list_player_ID)))
    generator_value_ID = cur.execute("SELECT ID FROM player_value;")
    list_value_ID = [str(id[0]) for id in generator_value_ID]
    print("Hay {} jugadores con sus valores".format(len(list_value_ID)))
    list_ID = list(set(list_player_ID) - set(list_value_ID))
    print("Faltan extraer datos de {} jugadores.".format(len(list_ID)))
    return list_ID

list_ID = status_extraccion()

insert_player = "INSERT INTO player_value VALUES (?,?,?,?)"

for index, id_jugador_fifa in enumerate(list_ID):
    r = requests.get("https://www.fifaindex.com/es/player/{}/".format(id_jugador_fifa))
    soup = bs.BeautifulSoup(r.text,'html')
    try:
        post = soup.find("a", attrs = {"class":"link-position"}).text
    except:
        post = "None"
    try:
        value = soup.find("p", attrs = {"class":"data-currency-dollar"}).find("span").text[1:].replace(".","")
        wage = soup.find_all("p", attrs = {"class":"data-currency-dollar"})[1].find("span").text[1:].replace(".","")
    except:
        value, wage = 0, 0
    cur.execute( insert_player, ( id_jugador_fifa , post,  value, wage))
    if index%50==0:
        print(( id_jugador_fifa , post,  value, wage))
        print(index/len(list_ID)*100)
        status_extraccion()
        con.commit()

In [46]:
query = """SELECT  * FROM player_value"""
df_value = pd.read_sql_query(query, con)
df_value.head(10)

       ID POSITION     VALUE  WAGE
0       2       MI    675000  7000
1       6      POR      3000  8000
2  163848       LI    110000  1700
3      11       MC    300000  5000
4  163852      MCD    160000  1700
5  163854       LD         0     0
6  163855      MCD    220000  3000
7      16       MC    700000  7200
8  229391      MCD  25000000  1500
9  163858       LI    140000  1600